# Axonius Rescaldo Configuration (.env)

# URL of the internal Axonius portal
AXONIUS_URL="https://sua-url-axonius.corp""

# Axonius Query IDs for extracting reports
AXONIUS_QUERY_BITLOCKER="({{QueryID=xxxxxxxxxxxxxxxxxxxxxxxx}})"
AXONIUS_QUERY_TRELLIX="({{QueryID=xxxxxxxxxxxxxxxxxxxxxxxx}})"
AXONIUS_QUERY_ZSCALER="({{QueryID=xxxxxxxxxxxxxxxxxxxxxxxx}})"

# Base directory for the files. Adjust this path to where the local filesystem structures reside.
BASE_DIR="C:\Users\YOUR_USERNAME\Documents\Rescaldo Axonius"

# Microsoft Edge User Data Directory inside Local AppData for the persistent Chromium session
EDGE_USER_DATA_DIR="C:\Users\YOUR_USERNAME\AppData\Local\Microsoft\Edge\User Data\Profile 1"
